/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #050505, #0b1a2a);
  color: white;
  padding-top: 70px;
}


/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 8%;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #6fffe9;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #6fffe9;
}

/* Hamburger */

.menu-toggle {
  display: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}


/* HERO */

.hero {
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3.2rem;
  color: #6fffe9;
}

.hero p {
  margin: 15px 0;
  opacity: 0.85;
}


/* SOCIALS */

.socials a {
  color: #6fffe9;
  font-size: 30px;
  margin: 0 15px;
  transition: 0.3s;
}

.socials a:hover {
  transform: scale(1.3);
}


/* BUTTON */

button {
  margin-top: 25px;
  padding: 12px 35px;

  border-radius: 30px;
  border: 1px solid #6fffe9;

  background: transparent;
  color: #6fffe9;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #6fffe9;
  color: black;
  box-shadow: 0 0 20px #6fffe9;
}


/* SECTIONS */

.skills,
.projects,
.certificates {
  padding: 80px 12%;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #6fffe9;
}


/* CARDS */

.skill-card,
.project-card {
  background: rgba(255,255,255,0.08);

  padding: 22px;
  border-radius: 20px;

  margin: 20px 0;

  transition: 0.3s;
}

.skill-card:hover,
.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(0,255,200,0.3);
}


/* LINKS */

.certificates a {
  display: block;
  color: #6fffe9;
  text-decoration: none;
}


/* FOOTER */

footer {
  text-align: center;
  padding: 30px;
  opacity: 0.6;
}


/* MOBILE */

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;

    width: 100%;

    background: rgba(0,0,0,0.95);

    flex-direction: column;
    text-align: center;

    max-height: 0;
    overflow: hidden;

    transition: 0.4s;
  }

  .nav-links.active {
    max-height: 250px;
    padding: 15px 0;
  }

  .nav-links li {
    margin: 12px 0;
  }

  .hero h1 {
    font-size: 2.3rem;
  }
}
