/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg,#050505,#0b1a2a);
  color: white;
  padding-top: 70px;
}


/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: rgba(0,0,0,0.9);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 8%;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #6fffe9;
}

.menu-btn {
  font-size: 22px;
  color: white;
  cursor: pointer;
  display: none;
}


/* MENU */

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #6fffe9;
}


/* HERO */

.hero {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: #6fffe9;
}

.hero p {
  margin: 15px 0;
  opacity: 0.85;
}


/* SOCIALS */

.socials a {
  color: #6fffe9;
  font-size: 28px;
  margin: 0 12px;
}


/* BUTTON */

button {
  margin-top: 25px;
  padding: 12px 30px;

  border: 1px solid #6fffe9;
  background: transparent;

  color: #6fffe9;
  border-radius: 30px;

  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #6fffe9;
  color: black;
}


/* SECTIONS */

.skills,
.projects,
.certificates {
  padding: 80px 12%;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #6fffe9;
}


/* CARDS */

.skill-card,
.project-card {
  background: rgba(255,255,255,0.08);

  padding: 20px;
  border-radius: 15px;

  margin: 15px 0;
}


/* FOOTER */

footer {
  text-align: center;
  padding: 30px;
  opacity: 0.6;
}


/* MOBILE */

@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 65px;
    left: 0;

    width: 100%;
    background: black;

    flex-direction: column;
    text-align: center;

    display: none;
  }

  .nav-menu.show {
    display: block;
  }

  .nav-menu li {
    padding: 15px 0;
    border-bottom: 1px solid #222;
  }

  .hero h1 {
    font-size: 2.2rem;

   
